.calendar {
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.calendar > h3 {
  display: flex;
  align-items: center;
}
.calendar > h3 > .wrap_btn {
  margin-left: auto;
  gap: 20px;
  display: flex;
}
.calendar > h3 button {
  width: 16px; aspect-ratio: 1;
  /* border: 1px solid #000; */
  display: grid;
  place-items: center;
}
.calendar > h3 button:nth-child(1) {
  background: url(/public/img/chv_l.png) center/cover no-repeat;
}
.calendar > h3 button:nth-child(2) {
  background: url(/public/img/chv_r.png) center/cover no-repeat;
}
.calendar table {
  width: 100%;
  border-collapse: collapse;
}
.calendar th, td {
  height: 70px;
  text-align: center;
}
.calendar button:active {
  background-color: #d0d0d0;
}
