#Chat {
    width: 440px; height: 857px;
    background-color: #fff;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto 60px;
}
#Chat > div {
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
}
#Chat > div input[type="text"] {
    border-radius: 8px;
    padding-left: 20px;
    border: 1px solid #ddd;
}
#Chat > div input[type="submit"] {
    border-radius: 8px;
    background-color: #f2f2f2;
}
.chattingbox::-webkit-scrollbar {
    width: 1px; /* 스크롤바 너비 */
}
.chattingbox > div {
    /* width: fit-content; */
}
.cont_input {
    gap: 8px;
    display: grid;
    grid-template-columns: auto 60px;
}
.user-message {
    text-align: right;
    background-color: #d1e7dd;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
}
.other-message {
    text-align: left;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
}