#Footer {
	width: 100vw; height: 80px;
	color: #fff;
	background-color: #222;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#Footer > h4 {
	display: flex;
	align-items: center;
}
#Footer > h4 img {
	width: 20px;
}
#Footer > h5 {
	font-weight: 400;
}