#Footer {
	width: 100vw; height: 300px;
	background-color: #222;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#Footer>ul {
	margin-top: auto;
	color: #fff;
	font-size: 14px;
	gap: 20px;
	display: flex;
	/* border: 1px solid #fff; */
}