header {
  z-index: 1000;
  position: fixed;
  top: 0;
  padding: 0 30px 0 50px;
  width: 100%; height: 70px;
  display: flex;
  align-items: center;
}
header > a,
header > span,
header > button {
  position: relative;
  padding: 0 20px;
  width: fit-content; height: 100%;
  font-size: 16px;
  font-weight: 500;
  display: grid;
  place-items: center;
  transition: all 0.3s ease;
}
header > a:nth-child(1) {
  position: relative;
  margin-right: auto;
  color: #ff7f00;
  font-size: 32px;
  font-weight: 800;
  font-family: 'TmoneyRoundWindExtraBold';
}
header > a:nth-child(1)::before {
  content: "";
  position: absolute;
  left: -6px; top: 50%;
  transform: translate(0, calc(-50% - 2px));
  width: 20px; aspect-ratio: 1 / 2;
  background: url(../../public/img/logo.svg) center/contain no-repeat;
}
header nav {
  position: absolute;
  top: 70px;
  padding: 4px;
  width: 100%; height: fit-content;
  gap: 4px;
  display: flex;
  flex-direction: column;
  display: none;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
header nav a {
  position: relative;
  padding: 10px;
  text-align: center;
  color: #333;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.3s ease;
}
header a.user-menu:hover nav {
  display: flex;
}
header a.user-menu nav a {
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease;
}
header a.user-menu nav a:hover {
  color: #fff;
  background-color: #ff7f00;
}
.invert {
  color: #fff;
}