#Posting,
#Editing,
#Modal {
  z-index: 999;
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  border-radius: 8px;
  gap: 20px;
  display: flex;
}
#Posting > div,
#Editing > div,
#Posting > form,
#Editing > form {
  position: relative;
  padding: 20px;
  min-width: 380px;
  width: 380px; height: 90vh;
  background-color: #fff;
  border-radius: 10px;
  gap: 30px;
  box-sizing: border-box;
}


.PostingForm {
  display: flex;
  flex-direction: column;
}
.PostingForm .a {
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.PostingForm .a > h2 {
  color: #333;
  font-size: 21px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.PostingForm .a > h2 > button {
  margin-right: 4px;
  height: 16px; aspect-ratio: 1;
  background: url(/public/img/close_blk.png) center/cover no-repeat;
  cursor: pointer;
}
.PostingForm .a > select,
.PostingForm .a > input,
.PostingForm .A,
.PostingForm .B {
  padding: 0 10px;
  height: 50px;
  color: #444;
  font-size: 17px;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.PostingForm .a .wrap {
  gap: 20px;
  width: 100%;
  display: flex;
}
.PostingForm .a .wrap > label {
  flex: 1;
  height: 100px;
  border-radius: 8px;
  border: 1px solid #ddd;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.PostingForm .cont_btn {
  margin-top: auto;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}
.PostingForm .cont_btn > button {
  flex: 1 1 calc(50% - 10px);
  color: #fff;
  height: 46px;
  border-radius: 6px;
  background-color: #ff6f0f;
}
#anyone,
#same {
  width: 16px; height: 16px;
  border: 1px solid #000;
}
.a .c .A {
  padding: 0 20px;
}