#Posting,
#Editing,
#Modal {
  z-index: 999;
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

#Posting > div,
#Editing > div,
#Posting > form,
#Editing > form {
  position: relative;
  padding: 20px;
  width: 380px;
  height: 82%;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

#Map {
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.PostingForm {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.PostingForm .btn_close {
  z-index: 999;
  position: absolute;
  right: 16px; top: 16px;
  height: 16px; aspect-ratio: 1;
  background: url(/public/img/close_blk.png) center/cover no-repeat;
  cursor: pointer;
}

.PostingForm .row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.PostingForm .row > h2 {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PostingForm .row > select,
.PostingForm .row > input,
.PostingForm .costResult,
.PostingForm .wrap_payment input,
.outline input[type="text"] {
  height: 44px;
  padding: 0 16px;
  color: #444;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
}

.outline input[type="text"] {
  width: 100%;
}

.outline input[type="text"]:nth-child(1) {
  border-radius: 10px 10px 0 0;
}

.outline input[type="text"]:nth-child(2),
.outline input[type="text"]:nth-child(3) {
  border-radius: 0;
  margin-top: -1px;
}

.outline input[type="text"]:last-of-type {
  border-radius: 0 0 10px 10px;
}

.outline input[type="text"]:focus {
  z-index: 1;
  border-color: #ff6600;
}

.waypoint-input {
  display: none;
}

.waypoint-input.visible {
  display: block;
}

.outline button {
  width: 100%;
  height: 44px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-size: 14px;
  cursor: pointer;
}


.PostingForm .costResult {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.PostingForm .costResult p {
  color: #666;
}

.PostingForm .wrap_label {
  display: flex;
  gap: 10px;
  width: 100%;
}

.PostingForm label {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.wrap_payment {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.wrap_btn {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

.PostingForm button:not(.btn_close) {
  width: 100%;
  height: 44px;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 4px;
  background-color: #ff7f00;
  font-weight: bold;
  cursor: pointer;
}

.btn_modify,
.btn_delete {
  flex: 1;
}
