@charset "utf-8";
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.5s;
}
html{
    font-size: 16px;
    font-weight: 500;
    scroll-behavior: smooth;
}
section
, div
, p
, span
, a
, ul
, input
, button
, table{
    font-family: 'Pretendard Variable';
}
a {
  color: inherit;
  text-decoration: none !important;
}
ul {
    list-style: none;
}
li{
    cursor: pointer;
}
input,
button{
    font-size: 16px;
    border: none; outline: none; 
    background-color: inherit;
}
input[type="text"],
input[type="password"]{
    cursor: text;
}
input[type="submit"],
button {
    cursor: pointer;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.shrink{
    transform: scale(0);
}
.pore{
    position: relative;
}
.posCenter{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.flex{
    display: flex;
}
.fcol{
    flex-direction: column;
}
.faic{
    display: flex;
    align-items: center;
}
.fjcc{
    display: flex;
    justify-content: center;
}
.fcent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grid{
    display: grid;
}
.gcent{
    display: grid;
    place-items: center;
}
.marginLeftAuto {
	margin-left: auto;
}
.marginRightAuto {
	margin-right: auto;
}
.marginCenter{
	margin: 0 auto;
}