#Landing {
	position: relative;
	width: 100vw; height: fit-content;
	/* overflow-y: scroll; */
}
#Landing section {
	position: sticky;
	top: 0;
	width: 100%; height: 100vh;
	/* scroll-snap-align: center; */
	background-color: #fff;
	overflow: hidden;
}
#Landing .sect1 {
	position: relative;
	width: 100%; height: 100vh;
	/* border: 1px solid #fff; */
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
#Landing .sect1 > video {
	z-index: -1;
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	filter: brightness(40%);
}
#Landing .sect1 > p {
	color: #fff;
	font-size: 50px;
}
#Landing .sect1 > p span {
	color: #FF6F0F;
	font-size: 70px;
	font-weight: 700;
}
#Landing .sect1 .btn-trial {
	position: relative;
	margin: 40px auto 0;
	padding: 10px 24px;
	color: #FF6F0F;
	font-size: 18px;
	font-weight: 600;
	border-radius: 50px;
	background-color: #fff;
	display: grid;
	place-items: center;
}
#Landing .sect1 .btn-trial:hover {
	color: #fff;
	background-color: #FF6F0F;
}
#Landing .sect2 {
	background: url(../../public/img/sect2.png) center/cover no-repeat;
}
#Landing .sect3 {
	display: grid;
	place-items: center;
}
#Landing .sect3 img {
	transform: scale(1);
}
#Landing .sect4,
#Landing .sect5,
#Landing .sect6,
#Landing .sect7 {
	display: grid;
	place-items: center;
}
#Landing .sect4 > p,
#Landing .sect5 > p {
	color: #333;
	font-size: 36px;
	font-weight: 600;
	text-align: center;
}
#Landing .sect6 img:nth-child(1) {
	position: absolute;
	left: -100px; top: 50%;
	transform: translate(0, -50%) scale(0.7);
}
#Landing .sect6 img:nth-child(2) {
	position: absolute;
	right: -200px; top: 50%;
	transform: translate(0, -50%) rotate(-1deg) scale(1.2);
}
#Landing .sect6 > p {
	color: #333;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}
#Landing .sect7 {
	padding: 100px 0;
	height: fit-content;
	color: #fff;
	font-size: 36px !important;
	font-weight: 700;
	text-align: center;
	background-color: #1C202F;
}
#Landing .sect7 span {
	color: #FF6F0F;
}

.typing-text {
	white-space: nowrap;
	overflow: hidden;
}

.typing-text .line {
	display: block;
}