#Login {
  margin-top: 80px;
  width: 100%; height: calc(100vh - 80px);
  text-align: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Login > img {
  width: 50px;
}
#Login > h2 {
  color: #FF6F0F;
  font-size: 30px;
  font-weight: 800;
}
#Login > p {
  color: #555;
  gap: 10px;
  display: grid;
}


#form_signup {
  margin-top: 10px;
  width: 340px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
#form_signup > span,
#form_signup > div:not(.cont_btn) {
  font-size: 14px;
  gap: 4px;
  display: grid;
}
#form_signup > span > label {
  display: flex;
  align-items: center;
}
#form_signup > span > input {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ddd;
}
#form_signup > label,
#form_signup > div > label {
  text-align: left;
  font-size: 15px;
}
#form_signup > div > span {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#form_signup > div > span > label {
  position: relative;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
}
#form_signup > div > span > label > input[type="radio"] {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
#form_signup > div > span > label.selected {
  border-color: #FF6F0F;
}
#Login .cont_btn {
  gap: 4px;
  display: grid;
}
#Login .btn_login,
#Login .btn_signup {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  border-radius: 50px;
  background-color: #FF6F0F;
}

