#Login {
  margin-top: 80px;
  padding-top: 40px;
  width: 100%; height: calc(100vh - 80px);
  text-align: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Login > img {
  width: 50px;
}
#Login > h2 {
  color: #FF6F0F;
  font-size: 30px;
  font-weight: 800;
}
#Login > p {
  color: #555;
  gap: 10px;
  display: grid;
}
#Login > form {
  margin-top: 10px;
  width: 340px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
#Login a {
  display: grid;
  place-items: center;
}
#Login a,
#Login input[type="text"],
#Login input[type="email"],
#Login input[type="password"],
#Login label,
#Login button[type="submit"] {
  padding-left: 10px;
  width: 100%; height: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
#Login input::placeholder {
  font-size: 14px;
}
#Login button[type="submit"] {
  color: #fff;
  width: 100%; height: 40px;
  border: none;
  background-color: #FF6F0F;
}
#Login .wrap.radio {
  width: 100%;
  gap: 10px;
  display: flex;
}
#Login .wrap.radio label {
  padding: 40px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#man,
#woman {
  width: 20px; height: 20px;
  border: 1px solid #000;
}
.login,
.signup {
  padding: 0;
}