#Login {
  margin-top: 100px;
  width: 100%; height: calc(100vh - 100px);
  text-align: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Login > img {
  width: 50px;
}
#Login > h2 {
  color: #ff6600;
  font-size: 30px;
  font-weight: 800;
}
#Login > p {
  color: #555;
  gap: 10px;
  display: grid;
}
#form_login,
#form_signup {
  margin-top: 10px;
  width: 300px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#form_login > span,
#form_signup > span,
#form_signup > div:not(.wrap_btn) {
  font-size: 14px;
  gap: 6px;
  display: grid;
}
#form_login > span > label,
#form_signup > span > label {
  margin-left: 2px;
  display: flex;
  align-items: center;
}
#form_login > span >input,
#form_signup > span > input {
  padding: 10px;
  width: 100%;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ddd;
}
#form_signup > label,
#form_signup > div > label {
  text-align: left;
  font-size: 15px;
}
#form_signup > div > span {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#form_signup > div > span > label {
  position: relative;
  padding: 20px;
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 6px;
}
#form_signup > div > span > label > input[type="radio"] {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
#form_signup > div > span > label.selected {
  border-color: #ff6600;
}
#Login .wrap_btn {
  gap: 4px;
  display: grid;
}
#Login .check_remember {
  gap: 6px;
  display: flex;
  align-items: center;
}
#Login .checkbox {
  margin-top: 2px;
}
.btn_login,
.btn_signup {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  border-radius: 50px;
  background-color: #ff6600;
}