#Main2 {
  padding-bottom: 70px;
  position: relative;
  height: fit-content;
  /* border: 10px solid gold; */
}
#Main2 h1 {
  padding: 80px;
  display: grid;
  place-items: center;
}


#Search {
  z-index: 999;
  position: sticky;
  top: 0;
  margin-bottom: 70px;
  padding: 20px 0;
  width: 100vw; height: 120px;
  /* border: 1px solid blue; */
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Search form {
  /* border: 1px solid gold; */
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Search form input,
#Search form button {
  padding: 0 0 0 20px;
  width: 300px; height: 50px;
  font-size: 16px;
  border-radius: 7px;
  background-color: #fff;
}
#Search .butn_search {
  padding: 0;
  width: 100px;
  color: #fff;
  background-color: #ff6600;
}


#FilterButtons {
  gap: 20px;
  display: flex;
  justify-content: center;
}
#FilterButtons button {
  position: relative;
  width: 100px; aspect-ratio: 1;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}
#FilterButtons button img {
  position: absolute;
  width: 60px; aspect-ratio: 1;
}
#FilterButtons .butn_all {
  border: 1px solid #eee;
  background-color: #fff;
}
#FilterButtons .butn_taxi {
  color: #fff;
  background-color: #111;
}
#FilterButtons .butn_taxi img {
  left: -20px; bottom: -20px;
  transform: scaleX(-100%);
  width: 80px;
}
#FilterButtons .butn_driver {
  background-color: gold;
}
#FilterButtons .butn_driver img {
  left: -16px; bottom: -10px;
  transform: rotate(-15deg);
}
#FilterButtons .butn_passenger {
  color: #fff;
  background-color: crimson;
}
#FilterButtons .butn_passenger img {
  left: -20px; top: -20px;
}
#FilterButtons .butn_write {
  border: 1px solid #eee;
}


#Board {
  padding: 0 400px;
  /* border: 10px solid #000; */
}
.Board {
  width: 100%;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
}
.Card {
  padding: 20px;
  width: calc(50% - 20px);
  /* border: 1px solid #000; */
  gap: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #F5F5F7;
  cursor: pointer;
}
.Card p,
.Card span {
  color: #444;
  font-weight: 500;
}
.Card > div {
  padding: 10px;
  border-radius: 12px;
  background-color: #fff;
}

.Card .row1 {
  padding: 0;
  gap: 8px;
  display: flex;
  background-color: transparent;
}
.Card .row1 .user-name {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}
.Card .row1 .user-name span {
  padding: 0 20px;
  width: fit-content; height: 40px;
  border-radius: 10px;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Card .row1 .card-title {
  flex-grow: 1;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}
.Card .row1 .card-title span {
  padding-left: 10px;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #eee;
  gap: 10px;
  display: flex;
  align-items: center;
}
.Card .row1 .card-title span img {
  height: 20px; aspect-ratio: 1;
}

.Card .row2 {
  padding: 10px 10px;
  gap: 8px;
  display: flex;
}
.Card .row2 > div {
  flex: 1;
  /* border: 1px solid #000; */
}
.Card .row2 .route,
.Card .row2 .date {
  display: flex;
  justify-content: center;
}
.Card .row2 .route,
.Card .row2 .date {
  gap: 8px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.Card .row2 .route p,
.Card .row2 .date p {
  flex-grow: 1;
  padding: 10px 20px;
  height: 50px;
  color: #aaa;
  border-radius: 10px;
  border: 1px solid #eee;
  /* border: 1px solid #000; */
  gap: 12px;
  display: flex;
  align-items: center;
}
.Card .row2 .route p span {
  color: #555;
  font-size: 20px;
  font-weight: 600;
}

.Card .row3 {
  padding: 10px 10px 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Card .row3 .user-type {
  font-weight: 600;
  gap: 8px;
  display: flex;
  align-items: center;
}
.Card .row3 .user-type span {

}
.Card .row3 .switch {
  padding: 2px;
  height: 30px; aspect-ratio: 2 / 1;
  border-radius: 50px;
  border: 1px solid #e9e9e9;
  background-color: #f1f1f1;
}
.Card .row3 .gear {
  height: 100%; aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #e9e9e9;
  background-color: #f9f9f9;
}

.Card .row4 {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card .reservation-status {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background-color: #ffc107;
  color: black;
}
.Card .type {
  padding: 4px 8px;
  border-radius: 4px;
}
.Card .type-passenger {
  background-color: #4caf50;
  color: white;
}
.Card .type-driver {
  background-color: #2196f3;
  color: white;
}
.Card .type-taxi {
  background-color: #ffc107;
  color: black;
}
