#Main {
  padding-bottom: 70px;
  /* border: 10px solid gold; */
}
#Main h1 {
  padding: 80px;
  display: grid;
  place-items: center;
}


#Search {
  z-index: 999;
  position: sticky;
  top: 0;
  margin-bottom: 70px;
  padding: 20px 0;
  width: 100vw; height: 120px;
  /* border: 1px solid blue; */
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Search form {
  /* border: 1px solid gold; */
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Search form input,
#Search form button {
  padding: 0 0 0 20px;
  width: 300px; height: 50px;
  font-size: 16px;
  border-radius: 7px;
  background-color: #fff;
}
#Search .butn_search {
  padding: 0;
  width: 100px;
  color: #fff;
  background-color: #ff6600;
}


#FilterButtons {
  gap: 20px;
  display: flex;
  justify-content: center;
}
#FilterButtons button {
  position: relative;
  width: 100px; aspect-ratio: 1;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}
#FilterButtons button img {
  position: absolute;
  width: 60px; aspect-ratio: 1;
}
#FilterButtons .butn_all,
#FilterButtons .butn_write {
  border: 2px solid #eee;
  background-color: #fff;
  display: grid;
  place-items: center;
}
#FilterButtons .butn_taxi {
  color: #fff;
  background-color: #111;
}
#FilterButtons .butn_taxi img {
  left: -18px; bottom: -20px;
  transform: scaleX(-100%);
  width: 75px;
}
#FilterButtons .butn_driver {
  background-color: gold;
}
#FilterButtons .butn_driver img {
  left: -16px; bottom: -10px;
  transform: rotate(-15deg);
}
#FilterButtons .butn_passenger {
  color: #fff;
  background-color: crimson;
}
#FilterButtons .butn_passenger img {
  left: -16px; top: -16px;
}
#FilterButtons .butn_write img {
  width: 40px;
}


#Board {
  padding: 0 400px;
  /* border: 10px solid #000; */
}
.Board {
  width: 100%;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
}
.Card {
  position: relative;
  padding: 10px;
  width: calc(50% - 20px); height: calc(100% + 50px);
  /* border: 1px solid #000; */
  gap: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #F5F5F7;
  cursor: pointer;
}
.Card p,
.Card span {
  color: #444;
  font-weight: 500;
}
.Card > div:not(.Cover) {
  border-radius: 12px;
  background-color: #fff;
}
.Cover {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 100%; height: 100%;
  border-radius: 10px;
  border: none;
  overflow: hidden;
}
.Cover img {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  width: 570px;
}
.Card:hover .Cover {
  opacity: 0;
}

.Card .row1 {
  padding: 0;
  gap: 8px;
  display: grid;
  grid-template-columns: 2fr 8fr;
  background-color: transparent;
}
.Card .row1 .user-name {
  padding: 6px;
  border-radius: 10px;
  background-color: #fff;
}
.Card .row1 .user-name span {
  padding: 0 20px;
  width: 100%; height: 40px;
  border-radius: 10px;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Card .row1 .card-title {
  flex-grow: 1;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #fff;
}
.Card .row1 .card-title span img {
  height: 20px; aspect-ratio: 1;
}
.Card .row1 .user-type {
  font-weight: 600;
  gap: 8px;
  display: flex;
  align-items: stretch;
  /* border: 1px solid #000; */
}
.Card .row1 .user-type span {
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
}
.Card .row1 .switch {
  padding: 2px;
  height: 30px;
  aspect-ratio: 2 / 1;
  border-radius: 50px;
  border: 1px solid #e9e9e9;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: inset 5px -5px 20px -4px rgba(0,0,0,0.3);
}
.Card .row1 .gear {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #e9e9e9;
  background-color: #fff;
}
.Card .row1 .switch.switch-on {
  background-color: rgb(85, 85, 255);
  justify-content: flex-end;
  box-shadow: inset 5px -5px 20px -4px rgba(0,0,0,0.35);
}

.Card .row2 {
  padding: 8px;
  gap: 5px;
  display: flex;
}
.Card .row2 > div {
  flex: 1;
  /* border: 1px solid #000; */
}
.Card .row2 .route,
.Card .row2 .date {
  display: flex;
  justify-content: center;
}
.Card .row2 .route,
.Card .row2 .date {
  gap: 8px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.Card .row2 .route p,
.Card .row2 .date p {
  flex-grow: 1;
  padding: 10px 20px;
  height: 50px;
  color: #aaa;
  font-weight: 300;
  border-radius: 10px;
  border: 1px solid #eee;
  /* border: 1px solid #000; */
  gap: 12px;
  display: flex;
  align-items: center;
}
.Card .row2 .route p span {
  color: #555;
  font-size: 20px;
  font-weight: 600;
}

.Card .row3 {
  height: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Card .row3.reservation-in-progress {
  color: rgb(85, 85, 255);
}
.Card .row3.reservation-closed {
  color: crimson;
}

.Board .Card .type {
  padding: 5px 10px;
  border-radius: 4px;
}
.Board .Card .type-탑승자 {
  background-color: crimson;
  color: white;
}
.Board .Card .type-운전자 {
  background-color: gold;
  color: rgb(0, 0, 0);
}
.Board .Card .type-택시 {
  background-color: #000000;
  color: rgb(255, 255, 255);
} 
