#Main {
  position: relative;
  height: fit-content;
  /* border: 10px solid gold; */
}
#Main h1 {
  padding: 80px;
  display: grid;
  place-items: center;
}


#Search {
  z-index: 999;
  position: sticky;
  top: 0;
  margin-bottom: 70px;
  padding: 20px 0;
  width: 100vw; height: 120px;
  /* border: 1px solid blue; */
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Search form {
  /* border: 1px solid gold; */
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Search form input,
#Search form button {
  padding: 0 0 0 20px;
  width: 300px; height: 50px;
  font-size: 16px;
  border-radius: 7px;
  background-color: #fff;
}
#Search .butn_search {
  padding: 0;
  width: 100px;
  color: #fff;
  background-color: #ff6600;
}


#FilterButtons {
  gap: 20px;
  display: flex;
  justify-content: center;
}
#FilterButtons button {
  position: relative;
  width: 100px; aspect-ratio: 1;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}
#FilterButtons button img {
  position: absolute;
  width: 60px; aspect-ratio: 1;
}
#FilterButtons .butn_all {
  border: 1px solid #ddd;
  background-color: #fff;
}
#FilterButtons .butn_taxi {
  color: #fff;
  background-color: #111;
}
#FilterButtons .butn_taxi img {
  left: -20px; bottom: -20px;
  transform: scaleX(-100%);
  width: 80px;
}
#FilterButtons .butn_driver {
  background-color: gold;
}
#FilterButtons .butn_driver img {
  left: -16px; bottom: -10px;
  transform: rotate(-15deg);
}
#FilterButtons .butn_passenger {
  color: #fff;
  background-color: crimson;
}
#FilterButtons .butn_passenger img {
  left: -20px; top: -20px;
}
#FilterButtons .butn_write {
  border: 1px solid #ddd;
}





.sect_board {
  padding: 0 320px;
  border: 10px solid #000;
}
.cont_board {
  width: 100%;
  border: 1px solid red;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
}
.cont_board .card {
  flex-grow: 1;
  padding: 20px;
  width: calc(50% - 20px);
  border: 1px solid #000;
}
.cont_board .card:hover {
  border: 1px solid #ff6600;
}




.card .row1 {
  /* border: 1px solid #000; */
  gap: 8px;
  display: flex;
}
.card .row2 {
  padding: 40px 0;
}
.card .row3 {
  gap: 6px;
  display: grid;
}
.row1 .img_profile {
  width: 40px; aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #ddd;
}
.row1 .wrap {
  display: grid;
}
.row1 .user-name {
  font-size: 20px;
}
.row1 .type {
  color: #aaa;
  font-size: 14px;
}
.row1 .manner {
  margin-left: auto;
}
.row2 .route {
  /* padding: 12px; */
  font-size: 18px;
  text-align: center;
}
.row3 .calendar,
.row3 .time,
.row3 .genderType {
  padding-left: 8px;
  color: #999;
  font-size: 14px;
  gap: 8px;
  display: flex;
  align-items: center;
}
.row3 .calendar >  img,
.row3 .time > img,
.row3 .genderType > img {
  height: 14px;
}
