#Mypage {
  padding-top: 100px;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #fbfbff;
  gap: 10px;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

#SNB {
  width: 300px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
#SNB .myProfile {
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
#SNB .leaf {
  width: 30px;
}
#SNB .myImg {
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50% !important;
}
#SNB .myName {
  padding: 8px 16px;
  background-color: #fff;
}
#SNB > details {
  padding: 20px;
  background-color: #fff;
}
#SNB > details > summary {
  font-size: 16px;
  cursor: pointer;
}
#SNB > details > ul {
  margin-top: 20px;
  font-size: 16px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
#SNB details summary {
  font-size: 18px;
  font-weight: 500;
}



/* 컨테이너 크기 처리 */
#ChangeInfo,
#MyPoint,
#MyPost,
#Withdrawal,
#MyReserve {
  padding: 20px;
  width: 580px;
  background-color: #fff;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
/* 패딩 처리 */
#ChangeInfo .wrap > div,
#ChangeInfo .wrap > input,
#MyPoint .currentPoint,
#MyPoint .Board ,
#MyPost .postHistory,
#Withdrawal > div,
#MyReserve .Board {
  padding: 10px 16px;
  color: #666;
  font-weight: 400;
  height: fit-content;
}
/* 보더 처리 */
.myName,
#SNB > div,
#SNB > details,
#ChangeInfo,
#ChangeInfo .wrap > div,
#ChangeInfo .wrap > input,
#MyPoint,
#MyPoint .currentPoint,
#MyPoint .pointHistory,
#MyPost,
#Withdrawal,
#MyReserve {
  border-radius: 6px;
  border: 1px solid #ddd;
}
/* 폰트 사이즈 처리 */
#ChangeInfo > h2,
#MyPoint > h2,
#MyPost > h2,
#Withdrawal > h2,
#MyReserve > h2 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
}


#ChangeInfo .cont {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
#ChangeInfo .wrap {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

#MyPoint ul {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

#MyPost .Board,
#MyReserve .Board {
  padding: 0;
  gap: 20px;
}
#MyPost .Card,
#MyReserve .Card {
  width: 100%;
}

.btn_change,
.btn_confirm {
  padding: 4px 12px;
  margin-left: auto;
  width: fit-content;
  color: #fff;
  border-radius: 4px;
  background-color: #FF6600;
}
.btn_confirm {
  color: #333;
  background-color: #eee;
}