#MyPage {
    padding: 60px 500px;
    margin-top: 80px;
    width: 100%; height: calc(100vh - 80px);
    background-color: #FBFBFF;
    gap: 10px;
    display: grid;
    grid-template-columns: 290px auto;
    overflow-y: scroll;
}
#MyPage > div {
    width: 100%; height: 100%;
    /* border: 1px solid #000; */
}
#MyPage .bot {

}


.wrap_img {
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrap_img > img {
    width: 40px; height:35px;
}
.img_profile {
    width: 120px; aspect-ratio: 1;
    border-radius: 50% !important;
}
.username {
    padding: 8px 16px;
    background-color: #fff;
}


#SNB details,
#SNB .profile,
#SNB .username,
#ChangeInfo,
#ChangeInfo .userInfo > div > div,
#ChangeInfo .userInfo > div > input,
#ChangeInfo button,
#MyPoint,
#MyPoint .currentPoint,
#MyPoint .pointList,
#MyPost,
#MyPost > div,
#Withdrawal,
#Withdrawal .wrap > button,
#MyHistory {
    border-radius: 8px;
    border: 1px solid #ddd;
}
#ChangeInfo button,
#Withdrawal .wrap > button {
    border: none;
}

#ChangeInfo,
#MyPoint,
#MyPost,
#Withdrawal,
#MyHistory {
    min-width: 618px;
    padding: 30px;
    /* border: 1px solid #000; */
    background-color: #fff;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

#SNB details,
#ChangeInfo > h2,
#MyPoint > h2,
#MyPoint > h3,
#MyPost > h2,
#MyPoint .pointList,
#Withdrawal > h2,
#MyHistory > h2 {
    color: #333;
    font-size: 19px;
    font-weight: 500;
}

#SNB > details > ul,
#Withdrawal > div p {
    color: #666;
    font-size: 15px;
}


#SNB {
    gap: 10px;
    display: flex;
    flex-direction: column;
}
#SNB .profile {
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
#SNB > details {
    padding: 20px;
    background-color: #fff;
}
#SNB > details > summary {
    color: #333;
    font-size: 17px;
    cursor: pointer;
}
#SNB > details > ul {
    margin-top: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}


#ChangeInfo .userInfo {
    height: 100%;
    background-color: #fff;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
#ChangeInfo .userInfo > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;   
}
#ChangeInfo .userInfo > div > div,
#ChangeInfo .userInfo > div > input {
    padding: 16px 20px;
    width: 100%; height: fit-content;    
}


#MyPoint > h3 {
    font-size: 17px;
}
#MyPoint ul {
    gap: 20px;
    display: flex;
    flex-direction: column;
}
#MyPoint .currentPoint,
#MyPoint .pointList {
    padding: 16px 20px;
    width: 100%; height: 60px;
    color: #666;
    font-size: 14px;
    display: flex;
    align-items: center;
}

#MyPost > div {
    padding: 16px 20px;
    width: 100%; height: 60px;
    color: #666;
    font-size: 14px;
    display: flex;
    align-items: center;
}


#Withdrawal {
    height: fit-content;
}
#Withdrawal > div:nth-child(2) {
    padding: 20px;
    line-height: 27px;
    text-align: center;
    display: grid;
    place-items: center;
}
#Withdrawal > div p {
    font-size: 17px;
}


.btn_confirm, 
.btn_change {
    margin-left: auto;
    padding: 6px 16px;
    width: fit-content;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btn_confirm {
    background-color: #F2F2F2;
}
.btn_change {
    color: #fff;
    background-color: #FF6F0F;
}

#MyPost > div {
    height: 500px;
    display: flex;
    flex-direction: column;
}