.map-container {
  width: 100%;
} 

form.right {
  display: grid;
  /* grid-template-rows: repeat(2, 1fr); */
}
form.right input[type="text"] {
  padding: 0 20px;
  width: 100%;
  height: 50px;
  color: #aaa;
  font-size: 18px;
  transition: all 0s;
}
form.right input[type="text"]::placeholder {
  color: #ccc;
}

.c {
  gap: 0 !important;
  display: flex;
  flex-direction: column;
}
.c input[type="text"]:nth-child(1) {
  border-radius: 10px 10px 0 0;
  border-left: 2px solid #ddd;
  border-top: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.c input[type="text"]:nth-child(2) {
  border-radius: 0 0 10px 10px;
  border-left: 2px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}
.c input[type="text"]:nth-child(1):focus,
.c input[type="text"]:nth-child(2):focus {
  border: 2px solid #FF6F0F;
}

.map-view {
  width: 100%; aspect-ratio: 1;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.cost-result {
  padding: 20px;
  height: 50px;
  border: 2px solid #ddd;
  border-radius: 10px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cost-result p {
  color: #666;
}