header {
    z-index: 999;
    position: fixed;
    padding: 0 160px;
    width: 100vw; height: 80px;
    display: flex;
    align-items: center;
}
header > a,
header > button {
    padding: 0 20px;
    width: fit-content; height: 100%;
    color: #fff;
    font-size: 17px;
    display: grid;
    place-items: center;
}
header > a:nth-child(1) {
    margin-right: auto;
    color: #FF6F0F;
    font-size: 30px;
    font-weight: 800;
}
header.scrolled a {
    color: #000;
}
