header {
    z-index: 999;
    position: fixed;
    padding: 0 160px;
    width: 100vw; height: 80px;
    display: flex;
    align-items: center;
}
header > a {
    padding: 0 20px;
    width: fit-content; height: 100%;
    color: #fff;
    font-size: 17px;
    display: grid;
    place-items: center;
}
header > a > img {  
    height: 40px;
}
header > a > div {
    width: 120px; height: 40px;
    color: #000;
    font-size: 14px;
    border-radius: 50px;
    background-color: #f2f2f2;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header > a > div > img {
    height: 50%;
}
header.scrolled a {
    color: #000;
}
#logo {
    position: relative;
    margin-right: auto;
    aspect-ratio: 2 / 1;
    color: #FF6F0F;
    font-size: 24px;
    font-weight: 900;
}
#logo > img {
    position: absolute;
    left: 7%; top: 18%;
}